=@holy_ground.name
=@holy_ground.address
=@holy_ground.description
=@holy_ground.image

=link_to "holy_ground", holy_grounds_path
=link_to 'delete' ,holy_ground_path(@holy_ground), method: :delete, data: {confirm: "削除しますか？"}, class: 'readmore'
=link_to "edit", edit_holy_ground_path(@holy_ground), class: 'readmore'
