=bootstrap_form_with model: @anime, local: true do |f|
  =f.text_field :name
  =f.text_field :release
  =f.text_field :description
  %hr
  .js-form-group
    
    =f.fields_for :holy_grounds do |f_holy_ground|
      -i = 0
      .form-part.js-title
        %label.js-title holy_ground#{i += 1}
        =f_holy_ground.hidden_field :id
        =f_holy_ground.text_field_without_bootstrap :name, class: 'form-control'
    %span.btn.btn-info.btn-custom.waves-effect.waves-light.m-b-5.mt-2.mb-4.btn-sm.js-add-form
      %i.fa.fa-plus
      %span Add holy ground
  =f.submit
